server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: openid, profile, email, https://www.googleapis.com/auth/cloud-platform
            redirect-uri: "http://localhost:8080/login/oauth2/code/google"
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true


      routes:
        # ===== ORDER SERVICE =====
        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/api/orders/**
          filters:
            - AddRequestHeader=X-Gateway-Request, API-Gateway
            - AddResponseHeader=X-Gateway-Response, SmartRestaurant-Gateway

        # ===== MENU SERVICE =====
        - id: menu-service
          uri: lb://menu-service
          predicates:
            - Path=/api/menu/**, /api/dishes/**, /api/categories/**, /api/ingredients/**
          filters:
            - AddRequestHeader=X-Gateway-Request, API-Gateway
            - AddResponseHeader=X-Gateway-Response, SmartRestaurant-Gateway

        # ===== USER SERVICE =====
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**, /api/auth/**, /api/roles/**
          filters:
            - AddRequestHeader=X-Gateway-Request, API-Gateway
            - AddResponseHeader=X-Gateway-Response, SmartRestaurant-Gateway

      # CORS Configuration (pentru frontend)
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - X-Order-Service-ID
              - X-Order-Timestamp
              - X-Menu-Content-Language
              - X-Auth-Service-Region
              - X-Gateway-Response

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}


logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: INFO